<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="UNIVERSE_SPEED" value="5" />
    <add key="FLEET_SPEED" value="1" />
    <add key="SAVED_SERVER" value=""/>
    <add key="SAVED_USERNAME" value=""/>
    <add key="SAVED_PASSWORD" value=""/>
  </appSettings>
</configuration>